<div class="container-fluid">
  <h1>How To Use the Application </h1>

  <ol class="list-group list-group-numbered">
    <li class="list-group-item">In home page, you can see the introduction of chicago art gallery. </li>
    <li class="list-group-item">click on artworks on navbar or click on "click me to view art" button in homepage to see all artworks available in chicago art gallery</li>
    <li class="list-group-item">each card contains art image, art name, artist name and date date_display. click on ReadMore to read description exhibition_history and publication_history of artwork.</li>
    <li class="list-group-item">use search box to search through the artwork</li>
    <li class="list-group-item">click on like button to mark the art as favourites</li>
    <li class="list-group-item">click on Wishlist in navbar to see your favourites</li>
  </ol>
</div>