<div class="container-fluid">
  <p class="text-muted heading text-center pt-4"> Chicago Art Gallery</p>
  <div class="row pt-5">
    <div class="col-md-3">
      <img src="https://www.artic.edu/iiif/2/8a0e4ac9-43ea-bc3e-884b-ee27f8a10501/full/1686,/0/default.jpg"
        class="w-100 ">
    </div>
    <div class="col-md-6">


      <h1 class="content">Explore thousands of artworks in the museum’s collection—from our renowned icons to lesser-known works from
        every corner of the globe—as well as our books, writings, reference materials, and other resources.</h1>
      <h1 class="content">
        The Art Institute of Chicago is a museum and school for the fine arts. It was founded in 1879 and has a
        permanent collection of nearly 300,000 works of art. The collection includes Chinese bronzes, contemporary
        design, textiles, and installation art.
        The Art Institute of Chicago is the second largest art museum in the United States. It's also the only museum in
        the world to be ranked among the world's best by TripAdvisor four years in a row.
      </h1>
      <h1 class="content">
        The Art Institute of Chicago encourages visitors to take pictures of the collection and special exhibitions for personal use. Non-flash photography is permitted in all permanent galleries.

      </h1>
      <a routerLink="artworks"><button class="btn btn-success shadow-lg  btn-lg btn-block " type="button">Click here to view art --></button></a>
    </div>
    <div class="col-md-3">
      <img src="https://www.artic.edu/iiif/2/62f2ca7a-8c22-bb7e-9e3d-7453652a3350/full/843,/0/default.jpg"
        class="w-100 mt-5">
    </div>

  </div>

</div>