<div class="card shadow-lg mb-5 me-4 bg-white rounded" >
  <img class="card-img-top" src="https://www.artic.edu/iiif/2/{{artDetails.image_id}}/full/843,/0/default.jpg"
    alt="{{artDetails.thumbnail.alt_text}}" >
  <div class="card-body">
    <h5 class="card-title">{{artDetails.title}}</h5>
    <p class="text-muted">artist : {{artDetails.artist_title}}</p>
    <p class="text-muted">{{artDetails.date_display}}</p>

    <div class="card-footer  d-flex justify-content-between">
      <a routerLink="/art/{{artDetails.id}}"><button type="button" class="btn btn-success">ReadMore...</button></a>
      
      <i class="bi" width="16" height="16"
        [ngClass]="{'bi-suit-heart-fill': artDetails.liked, 'bi-suit-heart': artDetails.liked===undefined || !artDetails.liked}"
        (click)="toggleLike()"></i>
    </div>

  </div>
</div>